<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net461" />
  <package id="MailKit" version="3.0.0" targetFramework="net461" />
  <package id="MimeKit" version="3.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net451" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="Spire.XLS" version="11.12.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net451" requireReinstallation="true" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net48" />
</packages>